/* Media Query */

	@media screen and (max-width:900px){
		
/*Fixed Elements - Menu*/
	
	.menu {
		display:none;
	}

	.small_menu {
		display:block;
		position:fixed;
		right:7.1589vmin;
		height:21.538px;	
		width:33.29px;
		top:36.7px;
	}

	.small_menu img {
		height:21.538px;	
		width:33.29px;
		top: 50.5px;	
	}
			
		
/*Dynamic Elements - Page 02 */

	.page_02 { 
		position:fixed;
		display:none;
		justify-content: space-between;
		flex-direction:column;
		height:80%;
		width:100%;
		bottom:0;
	}
			
	/*Dynamic Elements - Page 02- Buff 00*/
		
		.buff_00 {
		display:none;
	}
		
	/*Dynamic Elements - Page 02- Plexus/Triggers*/

		.plexus_02 {
			order:1;
			position:fixed;
			display:flex;
			width:100%;
			flex-direction: row;
			height:450px;
			flex:1;
		}

	/*Dynamic Elements - Page 02- Buff 00*/

		.buff_01 { 
		display:none;
	}
		
	/*Dynamic Elements - Page 02- Dynamic TextBox 01*/

		.text_02 { 
		display:flex;
		flex:1;
		order:2;
		flex-direction:column;
		height:450px;
		bottom:0vh;
		position:fixed;
		width:100%;
		text-align:center;
		}
		
	/*Dynamic Elements - Page 02- buff_02*/

		.buff_02 { 
		display:none;
	}
		
	/*Dynamic Elements - Page 02- dynamic headlines*/

		.headline {
			position: relative;
			text-align: center;
			display:block;
			width:100%;
			height:57.75px;
			font-size: 44.25px;
			font-family: Montserrat-Hairline, 
			sans-serif; 
			font-weight:100;
			background: -webkit-linear-gradient(180deg,#92FE9D,#92FE9D 45%,#00C9FF 65%, #00C9FF);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
				}

		.headline_00 {
					display:none;
				}

		.headline_01 {
					display:none;
				}

		.headline_02 {
					display:none;
				}

		.headline_03 {
					display:none;
				}

		.headline_04 {
					display:block;
				}

		.headline_05 {
					display:none;
				}

/*Dynamic Elements - Page 01*/
		
	.header_01 {
				position: relative;
				top:70px;
				display:block;
				line-height:120px;
				text-align: center;	
				font-size: 25px;
				font-family: Montserrat-Hairline, 
				sans-serif; 
				font-weight:100;
				background: -webkit-linear-gradient(180deg,#92FE9D,#92FE9D 45%,#00C9FF 65%, #00C9FF);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		
	.text_01 {
				color:#efefef;
				display:block;
				height:120px;
				font-family:Montserrat-hairline;
				font-size:12px;
				font-weight:100;
				text-align: center;
				position:relative;
				line-height: 1.8;
				top:50px;

			}
	
}